{% extends "admin/base.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static '/css/admin/base.css' %}">
{{ form.media }}
{% endblock %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"><img src="/static/images/logo_idacom_crm.png" alt=""></a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}